.loading {
  text-align: center;
}

.card.planet-info {
  background: #181818;
  border: 0.5px ridge white;
  color: white;
}

tbody {
  color: white;
}

.table tr td:first-of-type {
  font-weight: bold;
  width: 1%;
  white-space: nowrap;
  padding-right: 5rem;
}

.planet-name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}